#game-board {
	border: 1px solid black;
}

td {
	width: 50px;
	height: 50px;
	text-align: center;
}

.light-square {
	background-color: red;
}

.dark-square {
	background-color: gray;
}

.top-player-piece {
	font-size: 36;
	color: black;
	font-weight: bold;
}

.bottom-player-piece {
	font-size: 36;
	color: white;
	font-weight: bold;
}

#current-player-wrapper {
	float: right;
}