#game-board {
	border: 1px solid black;
}

#board-wrapper {
	float: left;
}

td {
	width: 50px;
	height: 50px;
	text-align: center;
}

.light-square {
	background-color: red;
	cursor: pointer;
}

.dark-square {
	background-color: gray;
	cursor: pointer;
}

.selected {
	background-color: yellow;
}

.possibleDestination {
	background-color: green;
}

.top-player-piece {
	font-size: 36;
	color: black;
	font-weight: bold;
}

.bottom-player-piece {
	font-size: 36;
	color: white;
	font-weight: bold;
}

#current-player-wrapper {
	margin-left: 50px;
	float: left;
}

.hidden {
	display: none;
}

.reset-link {
	display: block;
}